.lead__figure {
  margin: 56px auto 0px;
  max-width: 984px;
}

@media screen and (max-width: 1024px) {
  .lead__figure {
    max-width: 928px;
  }
}

@media screen and (max-width: 934px) {
  .lead__figure {
    max-width: 768px;
  }
}